.grupos{
    color: rgb(226, 58, 204);
}
.menus{
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
}
.precios{
    background-color:rgb(226, 58, 204) ;
    color: rgb(255, 255, 255);
}
.menuEspecial{
    font-family: Japanese Tourist;
    src: url(https://raw.githubusercontent.com/AkizukiGitHub/Chris-curso/blob/main/Actividades_individuales/Proyecto2/Recursos/css/Japanese%20Tourist.otf) format('otf');
}